<div id="container-principal-cad">
    <div class="first-container">
        <img src="../../assets/images/Mobile login-pana.png" alt="Registro" width="400" height="400">
    </div>
    <div class="second-container">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div>
                <h1>
                    CADASTRO
                </h1>
            </div>
            <div>
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" type="text">
                    <mat-error *ngIf="myForm.get('name')?.errors?.['required']">
                        Insira o seu nome
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Ex: example@example.com"
                    type="email">
                    <mat-error *ngIf="myForm.get('email')?.errors?.['required']">
                        Digite o seu email
                    </mat-error>
                    <mat-error *ngIf="myForm.get('email')?.errors?.['email']">
                        O formato do e-mail está incorreto
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="Ex: 123456" formControlName="password">
                    <mat-error *ngIf="myForm.get('password')?.errors?.['required']">
                        Digite a sua senha
                    </mat-error>
                    <mat-error *ngIf="myForm.get('password')?.errors?.['pattern']">
                        Sua senha deve conter 5 caracteres e 5 numeros
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Confirma Senha</mat-label>
                    <input matInput type="password" placeholder="Ex: 123456" formControlName="password_confirmation">
                    <mat-error *ngIf="myForm.get('password_confirmation')?.errors?.['required']">
                        Digite a senha de confirmação
                    </mat-error>
                    <mat-error *ngIf="myForm.get('password_confirmation')?.errors?.['password_confirmation']">
                        As senhas são diferentes
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span *ngIf="success">
                    <mat-card class="mat-card-success">
                        <mat-card-content >
                            {{success.message}}
                        </mat-card-content>
                    </mat-card>
                </span>
                <span *ngIf="error">
                    <mat-card class="mat-card-error">
                        <mat-card-content>
                            {{error.message}}
                        </mat-card-content>
                    </mat-card>
                </span>
            </div>
            <div class="button-container">

                <button type="submit" mat-raised-button color="accent">Cadastrar</button>
                <button mat-raised-button color="second" (click)="navigateLogin()">Login</button>
            </div>
        </form>
    </div>
</div>
