
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <input id="email" type="email" formControlName="email">
    <span *ngIf="myForm.get('email')?.errors?.['email']">
        Email incorreto
    </span>
    <input id="password" type="password" formControlName="password">
    <span *ngIf="myForm.get('password')?.errors?.['required']?.touched">
        É necessário digitar a senha
    </span>
    <span *ngIf="!myForm.get('password')?.errors?.['required'] && 
    myForm.get('password')?.errors?.['minLenght']?.['actualLenght'] < valorMin &&
    myForm.get('password')?.errors?.['minLenght']?.['actualLenght']?.touched">
        É necessário no mínimo {{valorMin}} caracteres
    </span>
    <span *ngIf="myForm.get('password')?.errors === null">
    salveeeee</span>
    <button type="submit"
    >Submit</button>
</form>
<a routerLink="/cadastro">Cadastro</a>
<router-outlet></router-outlet>