
<div id="container-principal-login">

    <div class="first-container">
        <img src="../../assets/images/Forgot password-amico.png" alt="Login" width="400" heigh="400">
    </div>
    <div class="second-container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div>
                <h1>
                    BEM-VINDO
                </h1>
            </div>
            <div>
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex: example@example.com">
                    <mat-error *ngIf="myForm.get('email')?.errors?.['required']">
                        Digite o seu email
                    </mat-error>
                    <mat-error *ngIf="myForm.get('email')?.errors?.['email']">
                        Email incorreto
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                
                <mat-form-field appearance="outline" class="mat-form-field">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password" type="password" style="width:300px">
                    <mat-error *ngIf="myForm.get('password')?.errors?.['required']">
                        É necessário digitar a senha
                    </mat-error>
                    <mat-error *ngIf="myForm.get('password')?.errors?.['minLength']">
                        É necessário no mínimo {{valorMin}} caracteres
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="button-container">
                <div>
                    <button type="submit" mat-raised-button color="accent">Logar</button>
                </div>
                <div>
                    <button mat-raised-button color="second" (click)="navigateCad()">Cadastro</button>
                </div>
            </div>
            <div class="forget">
                <div>
                    <button mat-raised-button  (click)="navigateForget()">Esqueceu Senha</button>
                </div>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
