@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/purple-green.css';

#container-principal-login {
    display: flex;
    align-items: center;
    height: 40.0rem;
    margin: 15.0rem auto auto auto;
    width: 90.0rem;
    border-radius: 0.8rem;
    background-color: rgb(13, 145, 197);
}

#container-principal-cad {
    display: flex;
    align-items: center;
    height: 50.0rem;
    margin: 10.0rem auto auto auto;
    width: 90.0rem;
    border-radius: 0.8rem;
    background-color: rgb(13, 145, 197);
}

.first-container > img {
    margin: auto;
}

.first-container {
    display: flex;
    justify-content: center;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-left: 0rem;
    width: 50%;
}

.second-container {
    background-color: white;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.mat-form-field {
    width: 25.0rem;
    gap: 0.8rem;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

mat-error{
    margin: -0.5rem;
}
@media (max-width: 930px){
    #container-principal-login {
        display: flex;
        align-items: center;
        height: 40.0rem;
        margin: 15.0rem auto auto auto;
        width: 90.0rem;
        border-radius: 0.8rem;
        background-color: rgb(13, 145, 197);
    }
    
    #container-principal-cad {
        display: flex;
        align-items: center;
        height: 40.0rem;
        margin: 7.5rem auto auto auto;
        width: 50.0rem;
        border-radius: 0.8rem;
        background-color: rgb(13, 145, 197);
    }

    .first-container > img {
        width: 20rem;
        height: 20rem;
        margin:auto;
    }
    .container-principal {
        display: flex;
        flex-direction:column;
        height: 52.0rem;
        margin: 7.5rem auto auto auto;
        width: 50.0rem;
        border-radius: 0.8rem;
        padding: 1.7rem;
    }
    
    .first-container {
        display: flex;
        justify-content: center;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        border-bottom-left-radius: 0.0rem;
        height: 100%;
        margin-left: 0rem;
        width: 75%;
        border: 0.1rem solid black;
    }
    
    .second-container {
        border: 0.1rem solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 100%;
    }
    
    .mat-form-field {
        width: 25.0rem;
        gap: 0.8rem;
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        margin-top: 0.5rem;
    }

    
}

@media (max-width: 545px){
    #container-principal-login {
        display: flex;
        align-items: center;
        height: 40.0rem;
        margin: 15.0rem auto auto auto;
        width: 90.0rem;
        border-radius: 0.8rem;
        background-color: rgb(13, 145, 197);
    }
    
    #container-principal-cad {
        display: flex;
        align-items: center;
        height: 50.0rem;
        margin: 10.0rem auto auto auto;
        width: 90.0rem;
        border-radius: 0.8rem;
        background-color: rgb(13, 145, 197);
    }

    .first-container {
        display: none;
    }
    
    .second-container {
        border: 0.1rem solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
    
    .mat-form-field {
        width: 25.0rem;
        gap: 0.5rem;
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
        margin-top: 0.8rem;
    }
}