<div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
       <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="myForm.get('email')?.errors?.['required']">
                Digite o seu email
            </mat-error>
            <mat-error *ngIf="myForm.get('email')?.errors?.['email']">
                Email incorreto
            </mat-error>
       </mat-form-field> 
       <button mt-raised-button color="second">Enviar</button>
    </form>
    <div>
        <button mat-raised-button color="primary" (click)="navigateLogin()">Login</button>
    </div>
</div>