<div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
       <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="myForm.get('email')?.errors?.['required']">
                Digite o seu email
            </mat-error>
            <mat-error *ngIf="myForm.get('email')?.errors?.['email']">
                Email incorreto
            </mat-error>
       </mat-form-field> 
       <div>
           <button mat-raised-button color="accent">Enviar</button>
           <button mat-raised-button color="second" (click)="navigateLogin()">Login</button>
       </div>
       <span *ngIf="error">
        <mat-card>
            <mat-card-content class="mat-card-error">
                {{error.message}}
            </mat-card-content>
        </mat-card>
       </span>
    </form>
</div>